<div class="form-group" data-select2-id="select2-data-57-ki0f">
    <label class="" for="don_fieldon_0_typedon"></label>
    <select
     class="form-control form-control-sm has-select2 select2-hidden-accessible" 
     id="don_fieldon_0_typedon"
     name="don[fieldon][0][typedon]" tabindex="-1" aria-hidden="true"
        data-select2-id="select2-data-don_fieldon_0_typedon">
        <option value="" data-select2-id="select2-data-53-j9ty">---</option>
        <option value="1" data-value="En espèce" data-select2-id="select2-data-54-fy4f">En espèce</option>
        <option value="2" data-value="Don en nature" data-select2-id="select2-data-55-6crt">Don en nature</option>
    </select>
    <span
        class="select2 select2-container select2-container--bootstrap5 select2-container--above select2-container--focus"
        dir="ltr" data-select2-id="select2-data-52-2zcy" style="width: 100%;"><span class="selection"><span
                class="select2-selection select2-selection--single form-control form-control-sm has-select2"
                role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                aria-labelledby="select2-don_fieldon_0_typedon-container"
                aria-controls="select2-don_fieldon_0_typedon-container">
                <span class="select2-selection__rendered"
                    id="select2-don_fieldon_0_typedon-container" role="textbox" aria-readonly="true"
                    title="En espèce">En espèce</span><span class="select2-selection__arrow" role="presentation"><b
                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
            aria-hidden="true"></span></span>
</div>