{% macro colonne(nompfs) %}

	<div class="row-colonne_nom  ">
		{#{{ dump(redaction.children.path.vars.data) }}#}
		<div class="row">
             <div class="form-group col-10">{{ form_row(nompfs.libelle) }}</div>
			 <div class="col-1 del-col_nom" data-parent=".row-colonne_nom"></div>
		</div>

	</div>

{% endmacro  %}



{% macro prototype_ligne_colonne_nom(form) %}
	<div class="list-colonne_nom" data-prototype="{{ _self.colonne(form.nompfs.vars.prototype, 1)|e }}"></div>
	<div class="row py-2 mb-4 main" style="border-bottom:3px solid white;background: #3a4049">


		<div class="col-9">
<h3 class="text-white">AJOUTER DES NOMS</h3>

		</div>
		<div class="col-3">
<button type="button" data-protoname="__name__" class="btn btn-default add_line_nom btn-xs" id="add_line_nom" data-protoclass=".list-colonne_nom" data-container=".column-container_nom">


				<i class="fa fa-plus"></i>
				Ajouter
			</button>
		</div>

	</div>
	<div class="row mb-4">
		<div class="col-11">Nom</div>
		
		<div class="col-1 del-col_nom" data-parent=".row-colonne_nom"></div>
	</div>


	<div class="column-container_nom proto-container_nom" data-childclass="">
		{% for item in form.nompfs %}

			{{ _self.colonne(item|e) }}
		{% endfor %}
	</div>
{% endmacro %}
